<h3>Login</h3>

<!-- Pages/Login.razor -->

@page "/login"
@using HotelBooking.Services.Contracts
@using HotelBooking.Web.Requests
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IUserService _userService

<MudContainer>
    <MudPaper Elevation="0" Class="p-6" Style="max-width: 400px; margin: auto; margin-top: 100px; border-radius: 10px; text-align: center;">
        <MudTypography Typo="Typo.h3" Class="mb-4" style="margin: 0; font-size: 25px;">Вход</MudTypography>

        <MudForm @onsubmit="HandleLogin">
            <MudTextField Label="Имя пользователя" @bind-Value="username" Required="true" Variant="Variant.Outlined" Class="mb-2" @onkeydown="HandleKeyPress" Style="border-radius: 20px;" />
            <MudTextField Label="Пароль" @bind-Value="password" Required="true" Variant="Variant.Outlined" Type="InputType.Password" @onkeydown="HandleKeyPress" Class="mb-4" Style="border-radius: 20px;" />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" type="submit" OnClick="HandleLogin" Class="position-relative mb-3" Style="width: 100%; border-radius: 20px;">Войти</MudButton>
        </MudForm>

        <MudText Typo="Typo.body2" Class="text-center mt-4">
            Нет аккаунта? <MudLink Href="/register">Зарегистрируйтесь</MudLink>
        </MudText>
    </MudPaper>
</MudContainer>


@code {
    private string username;
    private string password;
    public int userId;
    private async Task HandleLogin()
    {
        try
        {
            var userToAuthorize = await _userService.GetByUsername(username);

            if (userToAuthorize != null && userToAuthorize.Password == password)
            {
                int userId = userToAuthorize.Id;
                NavigationManager.NavigateTo($"/profile/{userId}");
            }
            else
            {
                Snackbar.Add("Неверное имя пользователя или пароль", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            Snackbar.Add("Произошла ошибка при входе", Severity.Error);
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await HandleLogin();
        }
    }
}
