<h3>Login</h3>

<!-- Pages/Login.razor -->

@page "/login"
@using HotelBooking.Services.Contracts
@using HotelBooking.Web.Requests
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IUserService _userService
@inject ApiTokenService _tokenService;

<MudContainer>
    <MudPaper Elevation="0" Class="p-6 rounded-pill" Style="max-width: 400px; margin: auto; margin-top: 100px; text-align: center;">
        <MudTypography Typo="Typo.h3" Class="mb-4" style="margin: 0; font-size: 25px;">Вход</MudTypography>

        <MudForm @onsubmit="HandleLogin">
            <MudTextField Label="Имя пользователя" @bind-Value="username" Required="true" Variant="Variant.Outlined" Class="mb-2 rounded-pill" @onkeydown="HandleKeyPress" Style="border-radius: 20px;" />
            <MudTextField Label="Пароль" @bind-Value="password" Required="true" Variant="Variant.Outlined" Type="InputType.Password" @onkeyup="HandleKeyPress" Class="mb-4 rounded-pill" Style="border-radius: 20px;" />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" type="submit" OnClick="HandleLogin" Class="position-relative mb-3 rounded-pill" Style="width: 100%;">Войти</MudButton>
        </MudForm>

        <MudText Typo="Typo.body2" Class="text-center mt-4">
            Нет аккаунта? <MudLink Href="/register">Зарегистрируйтесь</MudLink>
        </MudText>
    </MudPaper>
</MudContainer>


@code {
    private string username;
    private string password;
    public int userId;
    private async Task HandleLogin()
    {
        if (username != null && password!=null){
            var canLogin = await _userService.IfCanLogin(username,password);

            if (canLogin != -1)
            {
                userId = canLogin;
                await _tokenService.AuthenticateAndSetToken(username, userId);
                NavigationManager.NavigateTo($"/profile/");
            }
            else
            {
                Snackbar.Add("Неверное имя пользователя или пароль", Severity.Error);
            }
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await HandleLogin();
        }
    }
}
